ul { font-family: 'Arial Black', Helvetica, Arial, sans-serif;
    
    list-style: none;position:absolute;right:.3rem;top:4rem}
li {display:inline;margin-right:.5rem}
li a,li a:visited{text-decoration:none;color:#222;

border:2px solid #ddd;padding:.5rem 1rem;
border-radius:30px
}

li a:hover{
    background:#777
}

.selected a {background:#000;color:#fff!important;border:none}